<div class="dad-container">
  <!-- TITLE PAGE -->
  <div class="title-page"><strong>Registrar Pedidos</strong></div>

  <!-- CLIENT ZONE -->
  <div class="row m-0 p-0 mb-2 mt-3">
    <div class="col-9 m-0 p-0">
      <!-- TITLE -->
      <div class="title-zone">
        <strong>Cliente</strong>
      </div>

      <!-- CONTENT -->
      <!-- FIRST ROW: FULL NAME AND DNI -->
      <div class="first-row">
        <div class="row m-0 p-0">
          <!-- FULL NAME -->
          <div class="col-6 m-0 p-0">
            <!-- CONTENT -->
            <div class="row m-0 p-0">
              <label class="form-control col-4 left mr-2" for="_name"
                >Nombre:</label
              >
              <input
                autocomplete="off"
                class="form-control col"
                type="text"
                id="_name"
                placeholder="Ingrese nombre aquí"
                name="_name"
                maxLength="{{ _client._name._maxLength }}"
                [(ngModel)]="_client._name._name"
                (input)="_validateName($event)"
              />
            </div>

            <!-- MSG ERROR -->
            <div class="row m-0 p-0 msg-error">
              <div class="col-4 mr-2" for="_name"></div>
              <div class="col p-0 m-0">
                <small
                  class="row p-0 m-0"
                  *ngIf="
                    this._client._name._errors._typeData._error &&
                    this._client._name._errors._required._error
                  "
                >
                  {{
                    this._client._name._errors._typeData._content +
                      this._client._name._errors._required._content
                  }}
                </small>
                <small
                  class="row p-0 m-0"
                  *ngIf="
                    !this._client._name._errors._typeData._error &&
                    this._client._name._errors._required._error
                  "
                >
                  {{ this._client._name._errors._required._content }}
                </small>
                <small
                  class="row p-0 m-0"
                  *ngIf="
                    this._client._name._errors._typeData._error &&
                    !this._client._name._errors._required._error
                  "
                >
                  {{ this._client._name._errors._typeData._content }}
                </small>
              </div>
            </div>
          </div>

          <!-- SEPARATOR -->
          <div class="col-1"></div>

          <!-- DNI -->

          <div class="col m-0 p-0">
            <!-- CONTENT -->
            <div class="row m-0 p-0">
              <label class="form-control col-3 left mr-2" for="_DNI"
                >DNI:</label
              >
              <input
                autocomplete="off"
                class="form-control col"
                type="text"
                id="_DNI"
                placeholder="Ingrese DNI aquí"
                name="_DNI"
                maxLength="{{ _client._DNI._maxLength }}"
                [(ngModel)]="_client._DNI._name"
                (input)="_validateDNI($event)"
              />
            </div>

            <!-- MSG ERROR -->
            <div class="row m-0 p-0 msg-error">
              <div class="col-3 mr-2"></div>
              <div class="col p-0 m-0">
                <small
                  class="row p-0 m-0"
                  *ngIf="
                    this._client._DNI._errors._typeData._error &&
                    this._client._DNI._errors._required._error
                  "
                >
                  {{
                    this._client._DNI._errors._typeData._content +
                      this._client._DNI._errors._required._content
                  }}
                </small>
                <small
                  class="row p-0 m-0"
                  *ngIf="
                    !this._client._DNI._errors._typeData._error &&
                    this._client._DNI._errors._required._error
                  "
                >
                  {{ this._client._DNI._errors._required._content }}
                </small>
                <small
                  class="row p-0 m-0"
                  *ngIf="
                    this._client._DNI._errors._typeData._error &&
                    !this._client._DNI._errors._required._error
                  "
                >
                  {{ this._client._DNI._errors._typeData._content }}
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- SECOND ROW: RUC AND CEL -->
      <div class="first-row">
        <div class="row m-0 p-0">
          <!-- RUC -->
          <div class="col-6 m-0 p-0">
            <!-- CONTENT -->
            <div class="row m-0 p-0">
              <label class="form-control col-4 left mr-2" for="_RUC"
                >RUC:</label
              >
              <input
                autocomplete="off"
                class="form-control col"
                type="text"
                id="_RUC"
                placeholder="Ingrese RUC aquí"
                name="_RUC"
                maxLength="{{ _client._RUC._maxLength }}"
                [(ngModel)]="_client._RUC._name"
                (input)="_validateRUC($event)"
              />
            </div>

            <!-- MSG ERROR -->
            <div class="row m-0 p-0 msg-error">
              <div class="col-4 mr-2"></div>
              <div class="col p-0 m-0">
                <small
                  class="row p-0 m-0"
                  *ngIf="_client._RUC._errors._typeData._error"
                >
                  {{ this._client._RUC._errors._typeData._content }}
                </small>
              </div>
            </div>
          </div>

          <!-- SEPARATOR -->
          <div class="col-1"></div>

          <!-- CEL -->
          <div class="col m-0 p-0">
            <!-- CONTENT -->
            <div class="row m-0 p-0">
              <label class="form-control col-3 left mr-2" for="_cel"
                >Celular:</label
              >
              <input
                autocomplete="off"
                class="form-control col"
                type="text"
                id="_cel"
                placeholder="Ingrese celular aquí"
                name="_cel"
                maxLength="{{ _client._cel._maxLength }}"
                [(ngModel)]="_client._cel._name"
                (input)="_validateCel($event)"
              />
            </div>

            <!-- MSG ERROR -->
            <div class="row m-0 p-0 msg-error">
              <div class="col-3 mr-2"></div>
              <div class="col p-0 m-0">
                <small
                  class="row p-0 m-0"
                  *ngIf="_client._cel._errors._typeData._error"
                >
                  {{ this._client._cel._errors._typeData._content }}
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SALE ORDER ZONE -->
  <div class="row m-0 p-0">
    <!-- TABLE DETAIL SALE ORDER-->
    <div class="col-9 m-0 p-0">
      <div class="title-zone"><strong>Lista de Productos</strong></div>
      <div class="example-container">
        <!-- TABLE1 -->
        <table class="pointer" mat-table [dataSource]="_detailProducts">
          <!-- <table class="pointer" mat-table [dataSource]="getItems()"> -->
          <ng-container matColumnDef="_category">
            <th mat-header-cell *matHeaderCellDef>Categoría</th>
            <td mat-cell *matCellDef="let _element">
              {{ _element._productHeadquarter._product._category._name }}
            </td>
            <td mat-footer-cell *matFooterCellDef>Total</td>
          </ng-container>

          <ng-container matColumnDef="_brand">
            <th mat-header-cell *matHeaderCellDef>Marca</th>
            <td mat-cell *matCellDef="let _element">
              {{ _element._productHeadquarter._product._brand._name }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="_size">
            <th mat-header-cell *matHeaderCellDef>Talla</th>
            <td mat-cell *matCellDef="let _element">
              {{ _element._productHeadquarter._product._size._name }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="_price">
            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
            <td mat-cell *matCellDef="let _element">
              {{ _element._amount }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="_amount">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef="let _element">
              {{ " S/ " + _returnFloatForm(_element._price) }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="_subtotal">
            <th mat-header-cell *matHeaderCellDef>Subtotal</th>
            <td mat-cell *matCellDef="let _element">
              {{
                " S/ " + _returnFloatForm(_element._price * _element._amount)
              }}
            </td>
            <td mat-footer-cell *matFooterCellDef>
              {{ " S/ " + _returnFloatForm(getTotalCost()) }}
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="_detailProductsColumns; sticky: true"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: _detailProductsColumns; let i = index"
          ></tr>
          <tr
            mat-footer-row
            *matFooterRowDef="_detailProductsColumns; sticky: true"
          ></tr>
        </table>
      </div>
    </div>

    <!-- MENU -->
    <div class="col-3 m-0 p-0 menu pl-3">
      <!-- MENU DETAIL SALE ORDER -->
      <div class="menu-detail-so m-0 p-0">
        <div class="title m-0 p-0">Menú Detalle Pedido</div>
        <div class="btns m-0 p-0">
          <button
            class="btn btn-dark btn-block"
            [routerLink]="['/sales-detail']"
          >
            Agregar
          </button>
        </div>
      </div>

      <!-- MENU SALE ORDER -->
      <div class="menu-so m-0 p-0">
        <div class="title m-0 p-0">Menú Pedido</div>
        <div class="btns m-0 p-0">
          <button
            class="btn btn-dark btn-block"
            (click)="_save(content, contentSpiner)"
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODALS -->
<!-- SUCCES: DONE CORRECTLY -->
<!-- ERROR: PRODUCT ALREADY REGISTED -->
<ng-template #content let-modal>
  <div class="container-msg-modal">
    <div class="msg-modal">
      <!-- ICON -->
      <div class="icon-modal i-modal"><i [ngClass]="_msg._icon"></i></div>

      <!-- INFORMATION -->
      <div class="information-modal">
        <p class="title-modal">{{ _msg._title }}</p>
        <p class="detail-modal">{{ _msg._detail }}</p>
      </div>

      <!-- BUTTONS -->
      <div class="btns-modal">
        <button class="btn btn-dark btn-lg" (click)="modal.close('ok')">
          Ok
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #contentSpiner let-modal>
  <div class="spinner-container">
    <p class="title-spinner pb-3">Espere unos segundos por favor...</p>
    <div class="spinner"></div>
  </div>
</ng-template>
