<div class="container w-100 text-center mt-3 dad-container">
  <div class="title-page">
    <strong>Ventas Diarias</strong>
  </div>

  <div class="px-3">
    <table class="table container">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Sede</th>
          <th scope="col">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reporteSede of _dailySales">
          <th scope="row">
            {{ reporteSede._headquarter }}
          </th>
          <td scope="row">
            {{ "S/ " + _returnFloatForm(reporteSede._amount) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
